<!DOCTYPE html>

<html>
  <head>
    <title>Test API</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ request.static_path('herokutest:static/style.css') }}" />
  </head>

  <body>
    <h1>response:</h1>
    <div id="response">
      {{ response }}
    </div>
  </body>
</html>
